
$light-theme-color: #f6eadf;
$text-color: #1E2330;

$top-nav-height: 60px;

html, body {

    width: 100%;
    height: 100%;

}

body {

    margin: 0;

    background: #f6eadf;

    color: $text-color;

}


::-webkit-scrollbar {
    
    width: 10px;

}


::-webkit-scrollbar-track{

    border-radius: 10px;

}

::-webkit-scrollbar-thumb {


    background: $text-color;
    border-radius: 50px;

}

[contenteditable]:focus {

    outline: none;

}

[contenteditable]:empty::before {

    content: attr(placeholder);
    color: grey;

}

input[type=text] {

    font-size: 18px;

    padding: 0 20px 0 20px;

    color: $text-color;
    background: #f6eadf;
    
    border: none;
    border-radius: 100px;

    box-shadow: inset 3px 3px 7px #ccc2b9,
        inset -3px -3px 7px #ffffff;

}

input:focus {

    outline: none;

}

input[type=checkbox] {
    
    position: relative;
    cursor: pointer;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    left: -5px;
    top: -6px;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: #f6eadf;

    box-shadow: inset 1px 1px 7px #ccc2b9,
        inset -1px -1px 7px #ffffff;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    left: 6px;
}

button {

    color: $text-color;
    background: #f6eadf;

    border: none;
    border-radius: 100px;

    box-shadow: 3px 3px 7px #ccc2b9,
        -3px -3px 7px #ffffff;

}

button:disabled, button[disabled] {

    opacity: 0.4;

}

button:focus {

    outline: none;

}

svg {

    outline: $text-color;
    fill: $text-color;

}

.l {

    margin-top: 2px;

}

.fi {

    transform: scale(0.65);

    g {

        fill: $text-color;

    }
    

}

.top-nav {

    position: relative;
    top: 30px;
    left: 1.5%;

    width: 97%;
    height: $top-nav-height;

    border-radius: 100px;

    box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

    
    .toggle-nav {

        position: relative;
        left: 10px;

        width: 45px;
        height: $top-nav-height;

        display: flex;
        align-items: center;
        justify-content: center;
        
        float: left;

        .wrapper {

            width: 45px;
            height: 45px;

            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            svg {

                fill: $text-color;

            }

        }

        .wrapper.in {

            box-shadow: inset 3px 3px 7px #ccc2b9,
                inset -3px -3px 7px #ffffff;
    
        }

    }
    

    .brand {

        position: relative;
        left: 30px;

        height: $top-nav-height;

        display: flex;
        align-items: center;
        justify-content: center;

        float: left;

        svg {

            fill: $text-color;

        }

    }

    .search {

        position: relative;
        left: 50px;

        height: $top-nav-height;
        width: clamp(180px, 45%, 600px);

        display: flex;
        justify-content: center;
        align-items: center;

        float: left;

        .si {

            position: relative;
            left: 40px;

        }

        #cs {

            position: relative;
            right: -7px;

            width: 35px;
            height: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            opacity: 0;

            border-radius: 50px;
            
            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            svg {

                transform: scale(0.7);
                padding: 1px 0 0 1px;

            }

        }

        input {

            height: 45px;
            width: 100%;

            padding: 3px 0 0 50px;

            box-shadow: inset 3px 3px 7px #ccc2b9,
            inset -3px -3px 7px #ffffff;

        }

    }

    .mode {

        position: relative;
        bottom: 1px;
        float: right;
        right: 100px;

        height: $top-nav-height;

        display: flex;
        align-items: center;
        justify-content: center;

        .toggle-mode {

            position: absolute;
        
            cursor: pointer;
            transform: scale(0.2);
        
        }

    }

    .profile {

        position: relative;

        float: right;
        right: 10px;

        height: $top-nav-height;

        display: flex;
        align-items: center;
        justify-content: center;

        .wrapper {

            height: 45px;
            width: 45px;
            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            font-weight: bold;

            span {

                position: relative;
                top: 2px;

            }

        }

        .profile-dropdown {

            position: absolute;
            right: -10px;
            top: 70px;

            width: 180px;
            height: 120px;

            display: none;
            opacity: 0;

            border-radius: 30px;
            background: $light-theme-color;

            box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

            z-index: 9;

            .content {

                position: relative;

                width: 100%;
                height: 100%;

                .options {

                    position: relative;
                    left: 10px;
                    top: 10px;

                    height: 200px;

                    div {

                        width: 160px;
                        height: 40px;

                        display: flex;
                        align-items: center;

                        margin-bottom: 20px;

                        border-radius: 200px;

                        box-shadow: 3px 3px 7px #ccc2b9,
                            -3px -3px 7px #ffffff;

                        cursor: pointer;

                        svg {

                            position: relative;
                            left: 10px;


                        }

                        span {

                            position: relative;
                            left: 20px;

                            font-size: 15px;

                        }

                    }

                }


            }

        }

    }

}

.side-nav:hover {

    overflow-y: auto;

}

.side-nav {

    position: absolute;
    top: 100px;
    left: 1.5%;

    width: 50px;
    max-height: calc(100% - 120px);

    padding: 10px 0 0 10px;

    overflow: hidden;

    transition: all 0.75s ease-in-out;

    z-index: 8;

    .page {

        position: relative;

        width: 45px;
        height: 45px;

        margin-bottom: 20px;
        
        border-radius: 50px;

        background: $light-theme-color;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        cursor: pointer;

        transition: all 0.75s ease-in-out;

        .icon {

            position: relative;

            width: 45px;
            height: 45px;

            display: flex;
            align-items: center;
            justify-content: center;

            float: left;

        }

        .page-title {
            
            position: absolute;
            top: 2px;
            left: 45px;

            height: 45px;
            width: 165px;

            display: flex;
            align-items: center;
            
            opacity: 0;

            .folder-title {

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;

            }

        }

    }

    .efi {

        position: absolute;
        top: 5px;
        left: 210px;

        width: 35px;
        height: 35px;

        border-radius: 50px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 2;

        opacity: 0;

        svg {

            transform: scale(0.75);

        }

    }

}

.side-nav.open {

    width: 270px;

    .page {

        width: 250px;

    }

}

.current-note {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    opacity: 0;
    display: none;

    z-index: 10;

    .wrapper {



    }


}

.new-note {

    position: relative;
    top: 70px;

    width: 100%;

    display: flex;
    justify-content: center;

    transition: all 0.75s ease-in-out;

    z-index: 1;

    .nnw {

        width: 600px;
        height: 60px;

        border-radius: 30px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        transition: all 0.5s ease-in-out;

        .top {

            position: relative;
            height: 60px;

            .left {

                position: relative;
                left: 10px;
            
                float: left;

                height: 60px;

                display: none;
                align-items: center;
                justify-content: center;

                opacity: 0;

                div {

                    float: left;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 45px;
                    height: 45px;

                    margin-right: 10px;
                    
                    background: none;

                    border-radius: 50px;
                    
                    box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;

                    cursor: pointer;

                }

                .in {

                    box-shadow: inset 3px 3px 7px #ccc2b9,
                        inset -3px -3px 7px #ffffff;
                }

            }

            .right {

                position: relative;
                right: 10px;

                height: 60px;

                float: right;

                display: none;
                align-items: center;

                opacity: 0;

                .in {

                    box-shadow: inset 3px 3px 7px #ccc2b9,
                        inset -3px -3px 7px #ffffff;
                }


                div {

                    width: 45px;
                    height: 45px;
                    
                    background: none;

                    border-radius: 50px;
                    
                    box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;


                    cursor: pointer;

                    transition: all 0.5s ease-in-out;

                }

            }

            .title {

                position: relative;
                top: 5px;
                left: 5px;
    
                width: 550px;
                height: 47px;

                float: left;
    
                padding: 3px 20px 0 20px;
    
                border-radius: 100px;
                border: none;
    
                background: none;
    
                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

            }

        }

        .new-note-folders-wrapper {

            position: absolute;
            top: 110px;
            left: 15px;

            width: 100%;

            display: flex;
            
            align-items: center;

            .new-note-folders {

                position: relative;
                top: 30px;
                left: 100px;

                width: 320px;
    
                margin: 0 auto;
                
                display: none;
    
                opacity: 0;
    
                min-height: 300px;
                max-height: 500px;
                overflow-y: auto;
                overflow-x: hidden;
    
                padding: 20px;
    
                z-index: 6;
    
                background: #f6eadf;
    
                border-radius: 30px;
    
                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
    
                
                span {
    
                    position: relative;
    
                    display: block;
    
                    font-size: 17px;
    
                }
    
                #search-notepad {
    
                    position: relative;
                    top: 30px;
    
                    width: 280px;
                    height: 50px;
    
                    display: block;
                    
                }
    
                .folder-list {

                    position: relative;
                    top: 50px;

                    #new-note-folder {

                        padding: 10px;
                        
                        margin-bottom: 15px;

                        border-radius: 30px;
    
                        box-shadow: 3px 3px 7px #ccc2b9,
                            -3px -3px 7px #ffffff;

                        input[type='checkbox']{

                            float: left; 

                        }

                        span {

                            position: relative;

                            margin: 2px 0 0 35px;

                            width: 80%; 

                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;

                        }

                    }

                }

                #create-folder-from-search-btn {
    
                    position: relative;
                    top: 55px;
                    
                    max-width: 90%;
                    height: 50px;
    
                    padding: 10px;
    
                    margin: auto;
                    display: block;
    
                    text-align: center;
    
                    font-size: 17px;
    
                }
        
    
            }

        }

        .rte {

            position: relative;
            top: 15px;

            width: 100%;

            display: flex;
            justify-content: center;

            button {

                width: 45px;
                height: 45px;

                margin: 0 8px 0 8px;
                
                background: none;

                border-radius: 50px;
                
                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;

                font-size: 20px;

                svg {

                    margin-top: 6px;

                }
                
            }

        }

        .new-note-folder-list {

            position: absolute;
            bottom: -60px;
            left: 20px;

            width: 88%;
            height: 50px;

            overflow: auto;

            display: flex;
            align-items: center;


            .note-folder {

                height: 15px;
                min-width: 50px;
                max-width: 150px;

                display: inline-block;
                
                margin-right: 15px;
                padding: 10px;

                background: #f6eadf;

                border-radius: 50px;

                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
                
                text-align: center;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;


                div {

                    position: relative;

                }

            }

        }


        .content {

            position: relative;
            top: 35px;
            left: 5px;

            width: 590px;
            height: 350px;

            .new-note-content {

                position: relative;

                border-radius: 30px;

                width: 550px;
                height: 350px;

                padding: 20px;

                overflow-x: hidden;
                overflow-y: auto;

                font-size: 18px;
                color: $text-color;

                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

                cursor: text;

                transition: all 0.5s ease-in-out;

                input[type='checkbox'] {

                    margin-right: 20px;

                }

                .checklist {

                    padding-left: 10px;

                    list-style-type: none;

                    .checkbox-item {

                        margin-top: 15px;
    
                    }

                }

            }

            

        }

        .create-note-btn {

            position: relative;
            top: 98px;
            left: 175px;

            width: 250px;
            height: 45px;

            border-radius: 50px;

            background: none;

            box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;

            font-size: 16px;

            transition: all 0.5s ease-in-out;

        }

    }

    .extended {

        display: none;
        opacity: 0;

    }

}

.new-note.open {

    .nnw {

        height: 620px;

        .top {

            .left {

                display: flex;

            }

            .title {

                left: 7px;

                width: 380px;

            }

            .right {

                display: flex;

                div {

                    display: flex;

                    align-items: center;
                    justify-content: center;


                }

            }

        }

        .extended {

            display: block;
        
        }
    

    }

}

/* Notes */

.notes-wrapper {

    position: relative;
    top: 85px;

    width: 100%;

    display: flex;
    justify-content: center;

    transition: opacity 0.75s ease-in-out;
    transition: margin 0.75s ease-in-out;

    z-index: 1;

}

.notes {

    position: relative;

    width: 600px;

    transition: opacity 0.75s ease-in-out;
    transition: margin 0.75s ease-in-out;

    .section-title {

        position: relative;
        top: 10px;

        font-size: 26px;

    }

    .note-section {

        position: relative;
        left: 0;
        top: 30px;      
        
        width: 100%;

        display: grid;

        .note {

            position: relative;

            width: 580px;

            min-height: 35px;

            display: inline;

            opacity: 0;
            
            padding: 10px;
            margin: 0 15px 30px 0;

            border-radius: 30px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            transition: opacity 1s ease-in-out;
            transition: width 1s ease-in-out;

            .actions {

                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 4;

                opacity: 0;

                transition: opacity 0.75s ease-in-out;

                div {

                    width: 40px;
                    height: 40px;

                    border-radius: 50px;

                    margin-left: 10px;
                    
                    float: left;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;

                    cursor: pointer;

                    z-index: 5;

                }

                div.in {

                    box-shadow: inset 3px 3px 7px #ccc2b9,
                        inset -3px -3px 7px #ffffff;

                }
                
            }

            .text {

                position: relative;
                padding: 10px;

                text-overflow: ellipsis;
                white-space: nowrap;
                overflow-x: hidden;

                z-index: 3;

                span {position: relative;}

                .title {

                    font-size: 18px;
                    font-weight: bold;

                    cursor: text;

                }

                .content {

                    top: 5px;

                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 15;
                    -webkit-box-orient: vertical;

                    cursor: text;

                    input[type='checkbox'] {

                        margin-right: 20px;
    
                    }
    
                    .checklist {
    
                        padding-left: 5px;
    
                        list-style-type: none;
    
                        .checkbox-item {
    
                            margin-top: 15px;
        
                        }
    
                    }

                }

                .empty {

                    position: relative;
                    top: 0;
                    font-size: 20px;
                    color: grey;

                    cursor: text;

                }


            }

        }


    }

}

/* Folders */

.create-folder-form {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: -1;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;

    .wrapper {

        position: relative;

        width: 400px;
        height: 100px;

        padding: 25px;

        border-radius: 30px;
        
        background: #f6eadf;

        .close-nn-form {

            position: absolute;

            right: 10px;
            top: 10px;

            width: 45px;
            height: 45px;

            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;

            align-items: center;
            justify-content: center;

            font-size: 18px;
            font-weight: bold;

        }

        span {

            font-size: 30px;

        }

        form {

            position: relative;
            top: 20px;

            display: flex;
            align-content: center;

            input {

                height: 40px;

                background: none;

                border: none;
                border-radius: 50px;

                margin-right: 10px;
            

                float: left;
                
    
            }
    
            button {
    
                padding: 10px;
                width: 130px;
                
                float: right;
                background: none;

                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
    
            }

        }

    }

}


.edit-folder-form {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: -1;

    display: none;
    justify-content: center;
    align-items: center;

    opacity: 0;

    .wrapper {

        position: relative;

        width: 400px;
        height: 140px;

        padding: 25px;

        border-radius: 30px;
        
        background: #f6eadf;

        .close-en-form {

            position: absolute;

            right: 10px;
            top: 10px;

            width: 45px;
            height: 45px;

            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;

            align-items: center;
            justify-content: center;

            font-size: 18px;
            font-weight: bold;

        }

        span {

            font-size: 30px;

        }

        form {

            position: relative;
            top: 20px;

            display: flex;
            align-content: center;

            input {

                height: 40px;

                background: none;

                border: none;
                border-radius: 50px;

                margin-right: 10px;

                padding: 0 20px 0 20px;

                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

                float: left;
                
    
            }
    
            button {
    
                padding: 10px;
                width: 130px;
                
                float: right;
                background: none;

                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
    
            }

            button:disabled {

                cursor: not-allowed;

            }

            .delete-folder-btn {

                position: absolute;
                top: 57.5px;
                left: 95px;
    
                width: 200px;
                height: 40px;
    
                background: none;

                display: flex;
                align-items: center;
                justify-content: center;
    
                box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;
    
            }

        }


    }

}


.trash-note {

    position: relative;
    left: 0;
    top: -50px;

    width: 100%;

    display: flex;
    justify-content: center;

    div {

        width: 70%;

    }

    span {

        text-align: center;

    }

    button {

        position: relative;
        top: 15px;
        
        margin: 0 auto;

        padding: 10px;

        display: block;

    }

}


/* Mode */

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.toggle-slot {
    position: relative;
    height: 10em;
    width: 20em;
    border-radius: 10em;
    background: #f6eadf;
    transition: background-color 250ms;
    box-shadow: 4px 4px 8px #ccc2b9,
            -4px -4px 8px #ffffff;
}

.toggle-checkbox:checked ~ .toggle-slot {
    background-color: #374151;
}

.toggle-button {
    transform: translate(11.75em, 1.75em);
    position: absolute;
    height: 6.5em;
    width: 6.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    box-shadow: inset 0px 0px 0px 0.75em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(1.75em, 1.75em);
}

.sun-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: #ffbb52;
}

.sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
    position: absolute;
    height: 6em;
    width: 6em;
    color: white;
}

.moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
}

@media screen and (max-width: 970px) {

    .new-note {

        left: 50px;
        width: calc(100% - 50px);

        .nnw {

            width: 500px;

            .top {

                .title {

                    width: 450px;
    
                }

            }

        }

    }

    .new-note.open {

        .nnw {

            .top {

                .title {

                    width: 280px;
        
                }

            }

            .extended {

                .rte {

                    button {

                        width: 37px;
                        height: 37px;

                        margin: 0 7px 0 7px;
                        
                        transition: all 0.5s ease-in-out;

                    }
                    

                }

                .content {

                    .new-note-content {

                        width: 450px;

                    }

                }

                .create-note-btn {

                    left: 125px;    

                }

            }

        }

    }

    .notes-wrapper {

        width: calc(100% - 50px);

        .notes {

            left: 50px;
            width: 500px;

            .note {

                width: 480px;

            }

        }

    }

}

@media screen and (max-width: 630px) {

    input[type='text'] {

        font-size: 17px;

    }


    .new-note {

        left: 60px;
        width: calc(100% - 60px);

        .nnw {

            width: 380px;

            .top {

                .title {

                    width: 330px;
    
                }

            }

        }

    }

    .new-note.open {

        .nnw {

            height: 600px;

            .top {

                .title {

                    top: 12px;
                    width: 190px;
                    height: 35px;
        
                }

                .left {

                    div {

                        width: 35px;
                        height: 35px;

                    }

                }

                .right {

                    div {

                        width: 35px;
                        height: 35px;

                    }

                }

            }

            .extended {

                .rte {

                    button {

                        width: 30px;
                        height: 30px;

                        margin: 0 6px 0 6px;

                        font-size: 14px;

                    }
                    

                }

                .content {

                    .new-note-content {

                        width: 330px;

                        font-size: 17px;

                    }

                }

                .create-note-btn {

                    top: 100px;
                    left: 100px;   
                    
                    width: 180px;
                    height: 35px;

                }

            }

        }

    }

    .notes-wrapper {

        width: calc(100% - 60px);

        .notes {

            left: 60px;
            width: 380px;

            .note {

                width: 360px;

            }

        }

    }

}