[contenteditable]:focus {

    outline: none;

}

$text-color: #1E2330;

body {

    margin: 0;

    background: #f6eadf;

    color: $text-color;

}

.top-nav {

    position: relative;
    top: 30px;
    left: 1.5%;

    width: 97%;
    height: 60px;

    border-radius: 100px;

    box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

    
    .toggle-nav {

        position: relative;
        top: 8px;
        left: 10px;

        width: 45px;
        height: 45px;

        border-radius: 50px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        cursor: pointer;


    }

    .toggle-nav.in {

        box-shadow: inset 3px 3px 7px #ccc2b9,
            inset -3px -3px 7px #ffffff;

    }

}

.side-nav:hover {

    overflow-y: scroll;

}

.side-nav {

    position: absolute;
    top: 120px;
    left: calc(1.5% + 10px);

    width: 70px;
    height: calc(100% - 120px);

    overflow: hidden;

    transition: all 0.75s ease-in-out;

    z-index: 2;

    .page {

        width: 45px;
        height: 45px;

        margin-bottom: 20px;
        
        border-radius: 50px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        cursor: pointer;

        transition: all 0.75s ease-in-out;

    }

    .edit-folder-init {

        position: relative;
        top: 5px;
        left: 210px;

        width: 35px;
        height: 35px;

        border-radius: 50px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

    }

}

.side-nav.open {

    width: 280px;

    .page {

        width: 250px;

    }

}

.new-note {

    position: relative;
    top: 70px;

    width: 100%;

    display: flex;
    justify-content: center;

    transition: margin 0.75s ease-in-out;

    z-index: 1;

    .wrapper {

        width: 600px;
        height: 60px;

        border-radius: 30px;

        box-shadow: 3px 3px 7px #ccc2b9,
            -3px -3px 7px #ffffff;

        transition: height 0.5s ease-in-out;

        .top {

            position: relative;
            height: 60px;

            .left {

                position: relative;
                left: 10px;
            
                float: left;

                height: 60px;

                display: none;
                align-items: center;
                justify-content: center;

                div {

                    display: inline-block;

                    width: 45px;
                    height: 45px;

                    margin-right: 10px;
                    
                    background: none;

                    border-radius: 50px;
                    
                    box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;

                    cursor: pointer;

                }

            }

            .right {

                position: relative;
                right: 10px;

                height: 60px;

                float: right;

                display: none;
                align-items: center;

                .in {

                    box-shadow: inset 3px 3px 7px #ccc2b9,
                        inset -3px -3px 7px #ffffff;
                }


                div {

                    width: 45px;
                    height: 45px;
                    
                    background: none;

                    border-radius: 50px;
                    
                    box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;


                    cursor: pointer;

                }

            }

            .title {

                position: relative;
                top: 5px;
                left: 5px;
    
                width: 550px;
                height: 50px;

                float: left;
    
                padding: 0 20px 0 20px;
    
                border-radius: 100px;
                border: none;
    
                background: none;
    
                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;
    
            }

        }

        .rte {

            position: relative;
            top: 15px;

            width: 100%;

            display: flex;
            justify-content: center;

            button {

                width: 45px;
                height: 45px;

                margin-right: 10px;
                
                background: none;

                border-radius: 50px;
                
                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;

            }

        }

        .content {

            position: relative;
            top: 35px;
            left: 5px;

            width: 590px;
            height: 350px;

            

            .new-note-content {

                border-radius: 30px;

                width: 550px;
                height: 350px;

                padding: 20px;

                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

            }

            

        }

        .create-note-btn {

            position: relative;
            top: 98px;
            left: 175px;

            width: 250px;
            height: 45px;

            border-radius: 50px;

            background: none;

            box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;

            font-size: 16px;

        }

    }

    .extended {

        display: none;
        opacity: 0;


    }

}

.new-note.open {

    .wrapper {

        height: 620px;

        .top {

            .left {

                display: flex;

            }

            .title {

                left: 7px;

                width: 380px;

            }

            .right {

                display: flex;

            }

        }

        .extended {

            display: block;
        

        }
    

    }

}



/* Notes */


.notes {

    position: relative;
    top: 120px;
    left: 120px;

    width: calc(100% - 60px);

    margin-right: 30px;

    transition: margin 0.75s ease-in-out;


    .section-title {

        font-size: 40px;

        margin-left: 30px;

    }

    .note-section {

        position: relative;
        top: 30px;            

        .note {

            width: 230px;

            min-height: 80px;

            display: inline-block;
            
            padding: 10px;
            margin: 0 15px 15px 0;

            border-radius: 30px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;


            .content {

                position: relative;
                top: 10px;

                span {

                    position: absolute;

                }

                .title {


                }

                .content {

                    top: 20px;

                }


            }

        }


    }

}

/* Folders */

.create-folder-form {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    .wrapper {

        position: relative;

        width: 400px;
        height: 100px;

        padding: 25px;

        border-radius: 30px;
        
        background: #f6eadf;

        .close-nn-form {

            position: absolute;

            right: 10px;
            top: 10px;

            width: 45px;
            height: 45px;

            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;

            align-items: center;
            justify-content: center;

            font-size: 18px;
            font-weight: bold;

        }

        span {

            font-size: 30px;

        }

        form {

            position: relative;
            top: 20px;

            display: flex;
            align-content: center;

            input {

                height: 40px;

                background: none;

                border: none;
                border-radius: 50px;

                margin-right: 10px;

                padding: 0 20px 0 20px;

                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

                float: left;
                
    
            }
    
            button {
    
                padding: 10px;
                width: 130px;
                
                float: right;
                background: none;

                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
    
            }

        }

    }

}


.edit-folder-form {

    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.7);

    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;

    .wrapper {

        position: relative;

        width: 400px;
        height: 140px;

        padding: 25px;

        border-radius: 30px;
        
        background: #f6eadf;

        .close-en-form {

            position: absolute;

            right: 10px;
            top: 10px;

            width: 45px;
            height: 45px;

            border-radius: 50px;

            box-shadow: 3px 3px 7px #ccc2b9,
                -3px -3px 7px #ffffff;

            cursor: pointer;

            display: flex;

            align-items: center;
            justify-content: center;

            font-size: 18px;
            font-weight: bold;

        }

        span {

            font-size: 30px;

        }

        form {

            position: relative;
            top: 20px;

            display: flex;
            align-content: center;

            input {

                height: 40px;

                background: none;

                border: none;
                border-radius: 50px;

                margin-right: 10px;

                padding: 0 20px 0 20px;

                box-shadow: inset 3px 3px 7px #ccc2b9,
                    inset -3px -3px 7px #ffffff;

                float: left;
                
    
            }
    
            button {
    
                padding: 10px;
                width: 130px;
                
                float: right;
                background: none;

                box-shadow: 3px 3px 7px #ccc2b9,
                    -3px -3px 7px #ffffff;
    
            }

            button:disabled {

                cursor: not-allowed;

            }

            .delete-folder-btn {

                position: absolute;
                top: 57.5px;
                left: 95px;
    
                width: 200px;
                height: 40px;
    
                background: none;
    
                box-shadow: 3px 3px 7px #ccc2b9,
                        -3px -3px 7px #ffffff;
    
            }

        }


    }

}