{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            
            Мой блокнотик

        </title>

        {% compress css %}
        
            <link rel="stylesheet" href="{% static 'scss/home.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'packages/htmx.min.js' %}"></script>
        <script src="{% static 'packages/iconify.min.js' %}"></script>

    </head>

    <body>

        <div class="create-folder-form">

            <div class="wrapper">

                <div class="close-nn-form">X</div>

                <span>Новый блокнотик</span>

                <form>

                    <input type="text" name="t" placeholder="Заголовок">
                    <button id='create-folder-btn' hx-post="{% url 'a:create-folder' %}" hx-target=".folders">Создать</button>

                </form>

            </div>

        </div>

        <div class="edit-folder-form">

            <div class="wrapper">

                <div class="close-en-form">X</div>

                <span>Изменить блокнотик</span>

                <form>

                    <input type="text" name="u" id="folder-uid" hidden />

                    <input type="text" name="t" placeholder="Заголовок" id="edit-folder-title">
                    <button id='edit-folder-btn' type="button">Сохранить</button>

                    <button class="delete-folder-btn" hx-post="{% url 'a:delete-folder' %}" hx-target=".folders">У</button>
                
                </form>


            </div>

        </div>
        
        <div class="top-nav">

            <div class="toggle-nav">

                <div class="wrapper" id="toggle-nav">

                    <svg xmlns="http://www.w3.org/2000/svg" width="19.394" height="28.21" viewBox="0 0 19.394 28.21">
                        <path id="Icon_awesome-lightbulb" data-name="Icon awesome-lightbulb" d="M5.293,25.033a1.764,1.764,0,0,0,.3.975l.942,1.415A1.763,1.763,0,0,0,8,28.21h3.4a1.763,1.763,0,0,0,1.468-.787l.942-1.415a1.762,1.762,0,0,0,.3-.975l0-2.113H5.29l0,2.113ZM0,9.7a9.643,9.643,0,0,0,2.4,6.379,15.834,15.834,0,0,1,2.877,5.039c0,.014.006.043.006.043h8.829c0-.014,0-.028.006-.043a15.834,15.834,0,0,1,2.877-5.039A9.7,9.7,0,1,0,0,9.7ZM9.7,5.289A4.413,4.413,0,0,0,5.289,9.7a.882.882,0,0,1-1.763,0A6.178,6.178,0,0,1,9.7,3.526a.882.882,0,0,1,0,1.763Z" transform="translate(0 0)"/>
                    </svg>

                </div>

            </div>

            <div class="brand">

                

            </div>

            <div class="search">

                <input type="text" name="q" placeholder="Искать заметку">

            </div>

            <div class="mode">

                <label class="toggle-mode">
                    <input class='toggle-checkbox' type='checkbox'></input>
                    <div class='toggle-slot'>
                      <div class='sun-icon-wrapper'>
                        <div class="iconify sun-icon" data-icon="feather-sun" data-inline="false"></div>
                      </div>
                      <div class='toggle-button'></div>
                      <div class='moon-icon-wrapper'>
                        <div class="iconify moon-icon" data-icon="feather-moon" data-inline="false"></div>
                      </div>
                    </div>
                </label>

            </div>

            <div class="profile">

                <div class="wrapper" id="profile">

                    <span>{{ profile.initials }}</span>

                </div>

            </div>

            <div class="profile-dropdown">

                <!-- Profile preview -->

                <!-- My account -->

                <!-- Log out -->

            </div>

        </div>

        <div class="side-nav">

            <div class="page"><div class="icon">H</div><div class="page-title"><span>Дом</span></div></div>
            <div class="page"><div class="icon">L</div><div class="page-title"><span>Любимое</span></div></div>

            <div class="page" id="create-folder-init"><div class="icon">+</div><div class="page-title"><span>Новый блокнотик</span></div></div>

            <div class="folders">

                {% include 'components/folders.html' %}

            </div>


            <div class="page"><div class="icon">A</div><div class="page-title"><span>Архив</span></div></div>
            <div class="page" hx-post="{% url 'a:trash' %}" hx-target=".notes-wrapper"><div class="icon">К</div><div class="page-title"><span>Корзина</span></div></div>

        </div>

        
        <div class="new-note">

              <form> 

                <input type="text" name="cf" id='nnf' hidden />

                <input type="checkbox" name="p" id='nnp' hidden />
                <input type="checkbox" name="l" id='nnl' hidden />

                <div class="nnw">
                
                    <div class="top">

                        <div class="left">

                            <div id="pin">P</div>
                            <div id="love">L</div>

                        </div>

                        <input type="text" name="t" class='title' id="nnt" placeholder="Я помню чудное мгновение...">
                        
                        <div class="right">

                            <div id="close-notepad-form">X</div>

                        </div>

                    </div>
                    
                    <div class="extended">

                        <div class="rte">

                            <button type="button" id="bold"><b>Ж</b></button>
                            <button type="button" id="italic"><i>К</i></button>
                            <button type="button" id="underline"><u>С</u></button>
                            <button type="button" id="strike"><s>О</s></button>
                            
                            <button type="button" id="ul">UL</button>
                            <button type="button" id="ol">OL</button>
                            <button type="button" id="cl">CL</button>
                            
                            <button type="button" id="image">I</button>
                            <button type="button" id="folders">F</button>
        
                            <button type="button" id="erase">E</button>

                        </div>

                        <div class="new-note-folders-wrapper">

                            <div class="new-note-folders">

                                <span>Добавить заметку в блокнотик</span>
                                
                                <input type="text" id="search-notepad" placeholder="Название блокнотика">
    
                                <div class="folder-list"></div>
    
                                <form>

                                    <input type="text" name="t" id="nft" hidden />
                                    <button id="create-folder-from-search-btn" hx-post="{% url 'a:create-folder' %}" hx-target=".folders" style="display: none;">Создать</button>

                                </form>

                            </div>

                        </div>

                        <div class="content">

                            <input type="text" name="c" id="nnc" hidden />
                            <div contenteditable="true" class="new-note-content" placeholder="Я помню чудное мгновение..."></div>

                            <div class="new-note-folder-list"></div>

                        </div>

                        <input type="text" name="fu" id="folder-uids" hidden/>
                        
                        <button class="create-note-btn" hx-post="{% url 'a:create-note' %}" hx-target=".notes-wrapper">Создать</button>
                        
                    </div>
                
                </div>

            </form>

            <form hx-enctype="multipart/form-data"
                >
        
            </form>
            
        </div>

        <div class="notes-wrapper">

            {% include 'components/notes.html' %}

        </div>

        <div class="current-note">


        </div>

    </body>

    <style>

        @font-face {
            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        }

        body {

            font-family: Comfortaa;

        }

        button {

            font-family: Comfortaa;
            cursor: pointer;
            border: none;
            border-radius: 100px;

        }

        input {

            font-family: Comfortaa;
            font-size: 17px;

        }

        input:focus {

            outline: none;

        }

    </style>

    <script>

        /* Mode */

        $('.mode').click(function () {

            $("body").toggleClass('light');
            $(".moon").toggleClass('sun');
            $(".mode").toggleClass('day');
        
        });

        /* Folders */

        var folderTitles = [];

        $('#create-folder-from-search-btn').click(function() {

            found = false;
            newTitle = $('#search-notepad').val();

            $('#search-notepad').val('');
            $('#search-notepad').focus();

        })

        var foldersOpen, folders, folderList;

        foldersOpen = false;

        $('#folders').click(function() {

            if (foldersOpen) {

                $('.new-note-folders').animate({opacity: 0}, 750);
                
                setTimeout(function() {
                    
                    $('.new-note-folders').css('display', 'none');

                    $('.folder-list').children().each(function() {

                        if (!$(this).children('input').is(':checked')) {$(this).remove()}

                    });
                
                
                }, 750)

                foldersOpen = false;

                

            } else {

                $('.new-note-folders').css('display', 'block');
                $('.new-note-folders').animate({opacity: 1}, 750);
                foldersOpen = true;

                getFolders();

            }        

        });

        function getFolders() {

            folders = $('.folders').children('.page');
            
                folders.each(function(i) {

                    uid = $(this).children('#uid').val();
                    
                    if (!newNoteFolders.includes(uid) && uid != '') {
                        
                        title = $(this).children('.page-title').children('.folder-title').text();
                                           
                        $('.folder-list').append(

                            `

                                <div id='new-note-folder'>

                                    <input type='text' value='` + uid + `' hidden />
                                    <input type='checkbox' id='new-note-folder-check' onChange="addFolder(this)" />
                                    <span>` + title + ` </span>

                                </div>

                            `

                        )

                    }

                });

        }

        var newNoteFolders = [];

        function addFolder(e) {

            uid = e.previousElementSibling.value;

            title = e.nextElementSibling.textContent;

            if (e.checked) {

                $('.new-note-folder-list').append(

                    `<div class='note-folder'><span>` + title + `</span></div>`
                    
                )

                newNoteFolders.push(uid);

                $('#folder-uids').val(newNoteFolders.join(' '));


            } else {

                folders = $('.new-note-folder-list').children('div').children('span');

                folders.each(function() {

                    if ($(this).text() == title) {

                        $(this).parent('div').remove();

                    }

                })

                newNoteFolders.pop(uid);

                $('#folder-uids').val(newNoteFolders.join(' '));

            }

        }

        $('#search-notepad').keyup(function() {

            $('.folder-list').children().each(function() {

                if (!$(this).children('input').is(':checked')) {$(this).remove()}

            });

            folders = $('.folders').children('.page');

            folderExists = false;

            if (!$(this).val()) {

                $('#create-folder-from-search-btn').hide();
                
            } else {

                query = $(this).val();

                $('#nft').val(query);

                folders.each(function(i) {

                    title = $(this).children('.page-title').children('page-title').text();
                    alert(title)
                    uid = $(this).children('#uid').val();

                    if (title === query) {

                        folderExists = true;

                    }

                    if (title.search(query) >= 0) {

                        if (!newNoteFolders.includes(uid.toString())) {

                            $('.folder-list').append(

                                `

                                    <div>

                                        <input type='text' value='` + uid + `' hidden />
                                        <input type='checkbox' onChange="addFolder(this)" />
                                        <span>` + title + ` </span>

                                    </div>

                                `

                            );

                        }

                    }

                });

                if (!folderExists) {

                    $('#create-folder-from-search-btn').text("Создать '" + query + "'");
                    $('#create-folder-from-search-btn').show();

                } else {

                    $('#create-folder-from-search-btn').hide();

                }

            }


        });

        /* Edit folder */

        $('#edit-folder-title').keyup(function() {

            title = $(this).val();

            if (title === '') {

                $('#edit-folder-btn').prop('disabled', true);

            } else {

                $('#edit-folder-btn').prop('disabled', false);

            }

        });

        $('#edit-folder-btn').click(function() {

            title = $('#edit-folder-title').val();

            if (folderTitle != title) {

                uid = $('#folder-uid').val();

                $('input[value='+ uid + ']').siblings('.folder-title').text(title);

                $.ajax({

                    type: 'POST',
                    
                    url: "{% url 'a:edit-folder' %}",

                    data: {

                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'u': uid,
                        't': title,

                    },
                    
                })

            } 

        })

        $('#edit-folder-btn, .close-en-form, .delete-folder-btn').click(function() {

            $('.edit-folder-form').animate({opacity: 0}, 500);

            setTimeout(function() {

                $('.edit-folder-form').css('z-index', -1); 

            }, 500)

        });

        /* Create folder */

        $('#create-folder-init').click(function() {

            $('.create-folder-form').css('z-index', 10);
            $('.create-folder-form').animate({opacity: 1}, 500);

        });

        $('#create-folder-btn, .close-nn-form').click(function() {

            $('.create-folder-form').animate({opacity: 0}, 500);

            setTimeout(function() {

                $('.create-folder-form').css('z-index', -1); 

            }, 500)

        });

        /* Sidenav */

        var ww;
        var sidenavOpen = false;
        
        function toggleSidenav() {

            ww = $(window).width();

            if (sidenavOpen) {

                $('.page-title').animate({opacity: 0}, 250);
                $('.edit-folder-init').animate({opacity: 0}, 250);

                setTimeout(function() {

                    $('.side-nav').removeClass('open');
                    $('.new-note').css({'marginLeft': 0, 'width': '100%'});
                    $('.notes-wrapper').css('marginLeft', 0);

                }, 250);

                sidenavOpen = false;

            } else {

                $('.side-nav').addClass('open');
                
                if ($(window).width() > 800) {

                    $('.new-note').css({'marginLeft': 110, 'width': 'calc(100% - 110px)'});
                    $('.notes-wrapper').css('marginLeft', 200);

                }

                setTimeout(function() {

                    $('.page-title').animate({opacity: 1}, 750);
                    $('.edit-folder-init').animate({opacity: 1}, 750);

                }, 750);

                sidenavOpen = true;

            }

        };

        $('.side-nav').mouseenter(function() {

            if (!sidenavOpen) {

                $('.side-nav').addClass('open');
                $('.new-note').css('marginLeft', 110);
                $('.notes-wrapper').css('marginLeft', 200);

                $('.page-title').animate({opacity: 1}, 750);
                $('.edit-folder-init').animate({opacity: 1}, 750);

            }

        });

        $('.side-nav').mouseleave(function() {

            if (!sidenavOpen) {

                $('.page-title').animate({opacity: 0}, 250);
                $('.edit-folder-init').animate({opacity: 0}, 250);

                $('.side-nav').removeClass('open');
                $('.new-note').css('marginLeft', 0);
                $('.notes-wrapper').css('marginLeft', 0);

            }

        });

        $('#toggle-nav').click(function() {

            $(this).toggleClass('in');

            toggleSidenav();

        });

        /* New note */

        var notepadOpen;
        
        $('#nnt').focus(function() {
            
            if (!notepadOpen) {

                $('.new-note').addClass('open');

                setTimeout(function() {

                    $('.extended, .left, .right').animate({opacity: 1}, 1000);

                }, 500)

                $('#nnt').attr('placeholder', 'Заголовок');

                $('.new-note-content').focus();

                notepadOpen = true;

            }
            
        });

        $('#close-notepad-form, .create-note-btn').click(function() {

            $('.extended, .left, .right').animate({opacity: 0}, 500);

            setTimeout(function() {

                $('.new-note').removeClass('open');
                $('.new-note-folders').css({'display': 'none', 'opacity': 0});

            }, 500)


            $('#nnt').attr('placeholder', 'Я помню чудное мгновение...');

            notepadOpen = false;
            foldersOpen = false;

        });

        $('#pin').click(function() {

            $(this).toggleClass('in');
            $('#nnp').prop('checked', !$('#nnp').prop('checked'));

        });

        $('#love').click(function() {

            $(this).toggleClass('in');
            $('#nnl').prop('checked', !$('#nnl').prop('checked'));

        });

        $('.new-note-content').keyup(function() {

            $('#nnc').val($('.new-note-content').html());

        });
        
        /* RTE */

        $('#bold').click(function() {

            document.execCommand('bold');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#italic').click(function() {

            document.execCommand('italic');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#underline').click(function() {

            document.execCommand('underline');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#strike').click(function() {

            document.execCommand('strikeThrough');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#ul').click(function() {

            document.execCommand('insertUnorderedList');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#ol').click(function() {

            document.execCommand('insertOrderedList');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });
        
        /* Checklist */

        let checkListHTML = `

            <ul class='checklist'>

                <li class='checkbox-item'>

                    <input type="checkbox">

                </li>

            </ul>

        `;

        $('#cl').click(function() {           

        range = window.getSelection().getRangeAt(0);
        parentEl = range.commonAncestorContainer.parentNode;

        if (parentEl.className !== 'checkbox-item' && parentEl.tagName === 'LI') {

            document.execCommand('insertHTML', false, "<input type='checkbox' />");
            $('.new-note-content').focus();

        } else {

            document.execCommand('insertHTML', false, checkListHTML);
            $('.new-note-content').focus();

        }

        });

        $(".new-note-content").on('keydown', function(e) {

            range = window.getSelection().getRangeAt(0);
            parentEl = range.commonAncestorContainer.parentNode;

            if (parentEl.className === 'checkbox-item') {

                if (e.keyCode === 13) {
                    
                    setTimeout(function () {

                        document.execCommand('insertHTML', false, "<input type='checkbox' />");

                    }, 1)

                }

            }

        });

        $('#erase').click(function() {

            $('#nnt').val('');
            $('#nnc').val('');
            $('.new-note-content').html('');

            /* Clear images */
            
            $('#folder-uids').val('');
            $('.new-note-folder-list').html('');
            
            $('.new-note-content').focus();

        });

        document.body.addEventListener('htmx:configRequest', (event) => {

            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';

        });

    </script>

</html>