{% load static %}
{% load compress %}

<!DOCTYPE html>

<html lang="ru">

    <head>

        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            
            Мой блокнотик

        </title>

        {% compress css %}
        
            <link rel="stylesheet" href="{% static 'scss/home.scss' %}" type="text/x-scss">

        {% endcompress %}

        <script src="{% static 'packages/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'packages/htmx.min.js' %}"></script>

    </head>

    <body>

        <div class="create-folder-form">

            <div class="wrapper">

                <div class="close-nn-form">X</div>

                <span>Новый блокнотик</span>

                <form>

                    <input type="text" name="t" placeholder="Заголовок">
                    <button id='create-folder-btn' hx-post="{% url 'app:create-folder' %}" hx-target=".folders">Создать</button>

                </form>

            </div>

        </div>

        <div class="edit-folder-form">

            <div class="wrapper">

                <div class="close-en-form">X</div>

                <span>Изменить блокнотик</span>

                <form>

                    <input type="text" name="u" id="folder-uid" hidden />

                    <input type="text" name="t" placeholder="Заголовок" id="edit-folder-title">
                    <button id='edit-folder-btn' type="button">Сохранить</button>

                    <button class="delete-folder-btn" hx-post="{% url 'app:delete-folder' %}" hx-target=".folders">У</button>
                
                </form>


            </div>

        </div>
        
        <div class="top-nav">

            <div class="toggle-nav">

                -

            </div>

            <div class="brand">



            </div>

            <div class="search">



            </div>

            <div class="profile">



            </div>

        </div>

        <div class="side-nav">

            <div class="page in">H</div>
            <div class="page">L</div>

            <div class="folders">

                {% include 'components/folders.html' %}

            </div>


            <div class="page" id="create-folder-init">+</div>

            <div class="page">A</div>
            <div class="page">T</div>

        </div>

        <div class="new-note">

              <form> 

                <input type="text" name="cf" id='nnf' hidden />

                <input type="checkbox" name="p" id='nnp' hidden />
                <input type="checkbox" name="l" id='nnl' hidden />

            
                <div class="wrapper">
                

                    <div class="top">

                        <div class="left">

                            <div id="pin">P</div>
                            <div id="love">L</div>


                        </div>

                        <input type="text" name="t" class='title' id="nnt" placeholder="Я помню чудное мгновение...">
                        
                        <div class="right">

                            <div>X</div>

                        </div>

                    </div>


                    <div class="extended">

                        <div class="rte">

                            <button type="button" id="bold"><b>Ж</b></button>
                            <button type="button" id="italic"><i>К</i></button>
                            <button type="button" id="underline"><u>С</u></button>
                            <button type="button" id="strike"><s>О</s></button>
                            
                            <button type="button" id="ul">UL</button>
                            <button type="button" id="ol">OL</button>
                            <button type="button" id="cl">CL</button>
                            
                            <button type="button" id="image">I</button>
                            <button type="button" id="folders">F</button>
        
                            <button type="button" id="erase">E</button>

                        </div>

                        <div class="content">

                            <input type="text" name="c" id="nnc" hidden />
                            <div contenteditable="true" class="new-note-content"></div>

                        </div>

                        
                        <button class="create-note-btn" hx-post="{% url 'app:create-note' %}" hx-target=".notes">Создать</button>
                        
                    </div>
                
                </div>

            </form>
            
        </div>

        <div class="notes">

            {% include 'components/notes.html' %}

        </div>

        <div class="current-note">


        </div>

        

    </body>

    <style>

        @font-face {
            font-family: Comfortaa;
            src: url("{% static 'fonts/Comfortaa.ttf' %}");
        }

        body {

            font-family: Comfortaa;

        }

        button {

            font-family: Comfortaa;
            cursor: pointer;
            border: none;
            border-radius: 100px;

        }

        input {

            font-family: Comfortaa;
            font-size: 17px;

        }

        input:focus {

            outline: none;

        }

    </style>

    <script>

        /* Folders */

        /* Edit folder */

        $('#edit-folder-title').keyup(function() {

            title = $(this).val();

            if (title === '') {

                $('#edit-folder-btn').prop('disabled', true);

            } else {

                $('#edit-folder-btn').prop('disabled', false);

            }

        });

        $('#edit-folder-btn').click(function() {

            title = $('#edit-folder-title').val();

            if (folderTitle != title) {

                uid = $('#folder-uid').val();

                $('input[value='+ uid + ']').siblings('.folder-title').text(title);

                $.ajax({

                    type: 'POST',
                    
                    url: "{% url 'app:edit-folder' %}",

                    data: {

                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'u': uid,
                        't': title,

                    },
                    
                })

            } 

        })

        $('#edit-folder-btn, .close-en-form, .delete-folder-btn').click(function() {

            $('.edit-folder-form').animate({opacity: 0}, 500);

            setTimeout(function() {

                $('.edit-folder-form').css('z-index', -1); 

            }, 500)

        });

        

        /* Create folder */

        $('#create-folder-init').click(function() {

            $('.create-folder-form').css('z-index', 10);
            $('.create-folder-form').animate({opacity: 1}, 500);

        });

        $('#create-folder-btn, .close-nn-form').click(function() {

            $('.create-folder-form').animate({opacity: 0}, 500);

            setTimeout(function() {

                $('.create-folder-form').css('z-index', -1); 

            }, 500)

        });

        /* Sidenav */

        var sidenavOpen = false;
        
        function toggleSidenav() {

            if (sidenavOpen) {

                $('.side-nav').removeClass('open');
                $('.new-note').css('marginLeft', 0);
                $('.notes').css('marginLeft', 0);

                sidenavOpen = false;

            } else {

                $('.side-nav').addClass('open');
                $('.new-note').css('marginLeft', 110);
                $('.notes').css('marginLeft', 200);

                sidenavOpen = true;

            }

        };

        $('.side-nav').mouseenter(function() {

            if (!sidenavOpen) {

                $('.side-nav').addClass('open');
                $('.new-note').css('marginLeft', 110);
                $('.notes').css('marginLeft', 200);

            }

        });

        $('.side-nav').mouseleave(function() {

            if (!sidenavOpen) {

                $('.side-nav').removeClass('open');
                $('.new-note').css('marginLeft', 0);
                $('.notes').css('marginLeft', 0);

            }

        });

        $('.toggle-nav').click(function() {

            $(this).toggleClass('in');

            toggleSidenav();

        });

        /* New note */
        
        $('#nnt').focus(function() {
            
            $('.new-note').addClass('open');

            $('.extended').animate({opacity: 1}, 750);
            
        });

        $('#pin').click(function() {

            $(this).toggleClass('in');
            $('#nnp').prop('checked', !$('#nnp').prop('checked'));

        });

        $('#love').click(function() {

            $(this).toggleClass('in');
            $('#nnl').prop('checked', !$('#nnl').prop('checked'));

        });

        $('.new-note-content').keyup(function() {

            $('#nnc').val($('.new-note-content').html());

        });
        
        /* RTE */

        $('#bold').click(function() {

            document.execCommand('bold');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#italic').click(function() {

            document.execCommand('italic');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#underline').click(function() {

            document.execCommand('underline');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#strike').click(function() {

            document.execCommand('strikeThrough');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#ul').click(function() {

            document.execCommand('insertUnorderedList');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        $('#ol').click(function() {

            document.execCommand('insertOrderedList');
            $(this).toggleClass('active');
            $('.new-note-content').focus();

        });

        /* Checklist */

        let checkListHTML = `

            <ul>

                <li class='checkbox-item'>

                    <input type="checkbox">

                </li>

            </ul>

        `;

        $('#cl').click(function() {           

        range = window.getSelection().getRangeAt(0);
        parentEl = range.commonAncestorContainer.parentNode;

        if (parentEl.className !== 'checkbox-item' && parentEl.tagName === 'LI') {

            document.execCommand('insertHTML', false, "<input type='checkbox' />");
            $('.new-note-content').focus();

        } else {

            document.execCommand('insertHTML', false, checkListHTML);
            $('.new-note-content').focus();

        }

        });

        $(".new-note-content").on('keydown', function(e) {

        range = window.getSelection().getRangeAt(0);
        parentEl = range.commonAncestorContainer.parentNode;

        if (parentEl.className === 'checkbox-item') {

            if (e.keyCode === 13) {
                
                setTimeout(function () {

                    document.execCommand('insertHTML', false, "<input type='checkbox' />");

                }, 1)

            }

        }

        });

        document.body.addEventListener('htmx:configRequest', (event) => {

            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';

        });

    </script>

</html>